button {
  outline: none !important;
  cursor: none !important;
}

nav a,
.nav-button {
  background-color: white;
  border: 2px solid black;
  color: black;
  font-size: 2rem;
  text-transform: uppercase;
  z-index: 9999;
  border-radius: 999px;
  height: 4rem;
  width: auto;
  padding: 0 1.625rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-decoration: none;
  letter-spacing: 0.1px;
}

nav a:hover,
.nav-button:hover {
  background-color: black;
  border: 2px solid black;
  color: white;
}

.close-button {
  background-color: transparent;
  border: 2px solid black;
  z-index: 9999;
  border-radius: 999px;
  height: 64px;
  width: 64px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  text-decoration: none;
}

.close-button:hover,
.circle-button:hover {
  background-color: black;
  border: 2px solid black;
}
.close-button:hover svg path,
.circle-button:hover svg path {
  fill: white;
}

.circle-button {
  background-color: transparent;
  border: 2px solid black;
  z-index: 9999;
  border-radius: 999px;
  height: 64px;
  width: 64px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.modal-open {
  overflow: hidden;
}

.tippy-popper {
  z-index: 999999999 !important;
}

.tippy-tooltip.project-theme .tippy-backdrop {
  background: blue;
}
.tippy-tooltip.project-theme .tippy-content {
  color: white;
}

.cursor-hidden {
  display: none;
}

/* Responsive */
@media screen and (min-width: 0px) and (max-width: 320px) {
  .close-button {
    width: 48px;
    height: 48px;
  }
  nav a:hover,
  .nav-button:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
  }
  .close-button:hover,
  .circle-button:hover {
    background-color: white;
    border: 2px solid black;
  }
  .close-button:hover svg path,
  .circle-button:hover svg path {
    fill: black;
  }
}
@media screen and (min-width: 321px) and (max-width: 375px) {
  nav a:hover,
  .nav-button:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
  }
  .close-button:hover,
  .circle-button:hover {
    background-color: white;
    border: 2px solid black;
  }
  .close-button:hover svg path,
  .circle-button:hover svg path {
    fill: black;
  }
}
@media screen and (min-width: 376px) and (max-width: 480px) {
}
@media screen and (min-width: 481px) and (max-width: 767px) {
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
}
@media screen and (min-width: 1025px) and (max-width: 1279px) {
}
@media screen and (min-width: 1280px) and (max-width: 1440px) {
}
@media screen and (min-width: 1441px) and (max-width: 1600px) {
}
@media screen and (min-width: 1601px) and (max-width: 1920px) {
}
@media screen and (min-width: 1921px) and (max-width: 2560px) {
}
@media screen and (min-width: 2561px) and (max-width: 9999px) {
}
